table {
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
th{
    background-color: #427fef;
    color: white;
}
th, td {
    border-bottom: 1px solid #c4dcf3;
    padding: 10px;
}
tr:nth-child(even){
    background-color: lightgray;
}